<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cats and Cars Website | Coding Dojo</title>
        <link rel="stylesheet" href="/stylesheets/site.css" media="screen" title="no title">
    </head>
    <body>
        <div class="wrapper">
            <h1>This is the index page for this weird cars and cats assignment.</h1>

            <h2>Links to the pages</h2>
            <a href="/cars">Car Images</a>
            <a href="/cats">Cat Images</a>
            <a href="/cars/new">New Car Form</a>

        </div>
    </body>
</html>
