<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cats and Cars Website | Coding Dojo</title>
        <link rel="stylesheet" href="/stylesheets/site.css" media="screen" title="no title">
    </head>
    <body>
        <div class="wrapper">
            <h1>This is the Car Form page</h1>

            <form class="" action="index.html" method="post">
                <input type="text" name="name" value="">Car Type
                <input type="text" name="name" value="">Car Color
                <input type="text" name="name" value="">Car Vroooooom
                <input type="submit" name="name" value="Submit new Car">
            </form>


        </div>
    </body>
</html>
